In [1]:
import pandas as pd
primer_file = "inputfiles/Primers_output_GB.xlsx"

queryTFsdf = pd.read_excel(primer_file)
    
display(queryTFsdf)

,Unnamed: 0,Gene_ID,Transcript_ID,position,primer_type,primer_sequence,stringency_level
0,0,FBgn0031086,FBtr0070032,start_codon,HAL-F,TCTTGGTTTTTGAATTTTGGCATG,1
1,0,FBgn0031086,FBtr0070032,start_codon,val-F,TCGGGTAACTCGACCATAGC,1
2,0,FBgn0031086,FBtr0070032,start_codon,HAL-R,CGTAATAATATTGCAATATGTGTCACTGTT,extended from 3
3,0,FBgn0031086,FBtr0070032,start_codon,HAR-F,GATACGACACCAATCTTCCAGTCC,1
4,0,FBgn0031086,FBtr0070032,start_codon,HAR-R,TCGCACTATTCTTCGAATGTCG,1
...,...,...,...,...,...,...,...
26215,0,FBgn0031375,FBtr0330202,stop_codon,val-F,TCAACGCCCACTACAACCTC,1
26216,0,FBgn0031375,FBtr0330202,stop_codon,HAL-R,GAAGAGACCGTTCAGTGCGCGGACAG,extended from 3
26217,0,FBgn0031375,FBtr0330202,stop_codon,HAR-F,GCAGAAGGACCCCTGTCC,3
26218,0,FBgn0031375,FBtr0330202,stop_codon,HAR-R,TGCTCCAGACCCATTTCCAC,1
26219,0,FBgn0031375,FBtr0330202,stop_codon,val-R,TGTCAAGTAAAGTTATTCATATTGAGCACT,3

In [2]:
msg = "Hello World"

out = msg.find("l")

print(out)

2

In [8]:
import re
text = 'Aowed Heo Hoow'
for m in re.finditer('ll', text):
    print('ll found', m.start())

In [1]:
string = "ba"

print(string[1])

a

In [29]:
import pandas as pd

import pandas as pd

import math

df = pd.read_excel('inputfiles/PAM_mutation_rules.xlsx', )
display(df)

case = df[(df["sgRNA_strand"] == '+') & (df["PAM_pos_%_3"] == 1)]

#[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

display(case)

codons_of_interest = df._get_value(case.index[0],"codons_of_interest")

#codons_of_interest = list(codons_of_interest.split(","))

print(codons_of_interest)

if not math.isnan(codons_of_interest):

    print("hi")

,sgRNA_strand,PAM_pos_%_3,codons_of_interest,Nuc_to_mutate,PAM_pos_minus_1,PAM_pos,PAM_pos_plus_1,Nuc_to_avoid_at_PAM_pos
0,+,0,NaN,G,True,True,False,A
1,+,1,-1.0,G,True,True,False,A
2,+,2,NaN,G,True,True,False,A
3,-,0,1.0,C,False,True,True,T
4,-,1,NaN,C,False,True,True,T
5,-,2,NaN,C,False,True,True,T

,sgRNA_strand,PAM_pos_%_3,codons_of_interest,Nuc_to_mutate,PAM_pos_minus_1,PAM_pos,PAM_pos_plus_1,Nuc_to_avoid_at_PAM_pos
1,+,1,-1.0,G,True,True,False,A

-1.0
hi